page-login {

  ion-content{
    background: linear-gradient(141deg, #e2e2e2, #cfd4da 51%, #b7bcc1 75%) !important;

  }
  .wrap{

    padding: 20px 45px  20px  45px ;
    background-size: cover;
  }
  ion-list{
    background: none;
    overflow:auto;

    border-radius:3px;
    box-shadow: rgba(0,0,0,0.3) 0 2px 5px;
  }
  ion-item{

    margin-top: 0 !important;
    font-size: 1.1em !important;
    background: rgb(255, 255, 255) !important;
    border: 0!important;
    min-height: 0.4rem !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.29) !important;

    &:last-of-type{
      border-bottom: 0 !important;
    }
  }

  ion-list.facebook{
    .item{
      background: #3b5998 !important;
      color:white !important;
    }
  }
  ion-item.input-has-focus{
    .item-inner{
      border: 0 !important;
      box-shadow:none !important;
    }
    &:last-child{
      box-shadow:none !important;

    }
  }
  ion-item.input-has-value{
    .item-inner{
      border: 0 !important;
      box-shadow:none !important;
    }
    &:last-child{
      box-shadow:none !important;

    }
  }

}
