<ion-content>
  <div class="wrap">

    <div padding class="text-center">
      <img src="assets/img/logo-400.png">
    </div>


    <ion-list class="facebook">
      <button text-center ion-item (click)="facebook()">
        <ion-icon item-left name="logo-facebook"></ion-icon>

        <h2  >Intra in cont folosind Facebook</h2>
      </button>
    </ion-list>




    <div text-center padding-bottom>
      SAU
    </div>


    <ion-list no-lines="">

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" [(ngModel)]="login.email"></ion-input>

      </ion-item>

      <ion-item>
        <ion-label>Parola</ion-label>
        <ion-input type="password" [(ngModel)]="login.password"></ion-input>
      </ion-item>

    </ion-list>


    <div >


      <div *ngIf="login.loading" padding text-center>
        <ion-spinner></ion-spinner>
      </div>

      <div  *ngIf="!login.loading">
        <div class="card-md-danger " no-margin *ngIf="login.errors.email">
          <ion-card-content>
            <div *ngFor="let err of login.errors.email">
              {{ err }}
            </div>
          </ion-card-content>
        </div>

        <div   text-center>

          <div>
            <button block   ion-button="" (click)="submit()">Intra in cont</button>
            <br/>
            <button block   ion-button="" (click)="dismiss()" outline>renunta</button>

          </div>
          <br/>
          <br/>
          <div padding>
            <a>Ai uitat parola?</a>
          </div>

          <div padding>
            <a>Nu ai cont?</a>
          </div>

        </div>
      </div>

    </div>
  </div>

</ion-content>
