<!--
  Generated template for the Appointment page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Programare
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="light-panel" style="padding:1px">

    <table class="profile-wrap">
      <tr>
        <td>
          <ion-img class="profile" src="https://consultadoctor.ro/{{ doctor.profile }}-200.jpg" width="50"
                   height="50"></ion-img>

        </td>
        <td padding-left>
          <h2>
            {{ doctor.name }}
          </h2>
          <span *ngFor="let s of doctor.specialities">{{ s.name }}</span>
        </td>
      </tr>
    </table>


  </div>
  <div>
    <div *ngIf="doctor">
      <ion-card-content class="card-info">

        <strong>
          {{ hospital.name }}
        </strong> <br/>
        {{ hospital.address }}
        <br/>
        <button *ngIf="doctor.hospitals.length > 1" ion-button round outline small (click)="changeLocation()"> Alege alta locatie</button>
      </ion-card-content>
    </div>

    <div class="light-panel" *ngIf="service">
      <div padding class="card-info">
        Faci programare pentru  <strong>
        {{ service.name }}
      </strong>
        <br/>
        <button ion-button round outline small (click)="changeService()"> Vrei alt serviciu?</button>


      </div>
      <div class="light-panel {{!type?'danger':''}}" >
        <div class="light-panel" padding="" *ngIf="!type">
          Selecteaza de mai jos o optiune pentru a putea continua
        </div>
        <ion-list radio-group [(ngModel)]="type">
          <ion-item text-wrap *ngIf="doctor.hospital.name!='telemedicine'">
            <ion-label>
              O sa vin la cabinet si o sa
              platesc serviciul in valoare de
              <span *ngIf="!service.offer_price">{{ service.price }} Lei</span>
              <span *ngIf="service.offer_price">
                          <span class="line-through text-danger">{{ service.price }} Lei</span>
                          {{ service.offer_price }} Lei
                        </span>
            </ion-label>

            <ion-radio value="1"></ion-radio>
          </ion-item>

          <ion-item text-wrap *ngIf="service.insurance_house_id && doctor.hospital.name!='telemedicine'">
            <ion-label>
              O sa vin la cabinet cu un bilet de trimitere tip CNAS si cu cardul de
              sanatate
              <span *ngIf="service.copayment">
                            si o sa platesc o coplata in valoare de {{ service.copayment }} Lei
                        </span>
            </ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>

          <ion-item class="video" text-wrap *ngIf="service.accept_video">
            <ion-label>
              Vreau sa vorbesc cu {{ doctor.name }} prin videoconferinta si o sa platesc
              <span *ngIf="!service.offer_price">{{ service.price }} Lei</span>
              <span *ngIf="service.offer_price">
                          <span class="line-through text-danger">{{ service.price }} Lei</span>
                          {{ service.offer_price }} Lei
                        </span>
            </ion-label>
            <ion-radio value="3"></ion-radio>
          </ion-item>


        </ion-list>
      </div>

    </div>
    <div *ngIf="date">
      <div padding="" class="card-info">
        Data si ora: <br/>
        <strong>
          {{ date | date:'dd MMM HH:mm' }}
        </strong>
        <br/>
        <button ion-button round outline small (click)="changeDate()"> Vrei alta data/ora?</button>
      </div>
    </div>
    <div *ngIf="!date">
      <div padding class="no-hour card-info" text-center>
        <h4>
          Nu ai selectat nici o ora
        </h4>
        <button ion-button round outline color="light" (click)="changeDate()"> Selecteaza acum o ora</button>
      </div>
    </div>
    <div>
      <div padding="" class="card-info">
        Programarea este pentru?

        <div *ngIf="person">
          <strong>{{ person.first_name }} {{ person.last_name }}</strong>
          <br/>

          <button ion-button round outline small (click)="selectPerson()"> Alta persoana</button>
        </div>
      </div>
    </div>
    <div text-center padding>
      <button ion-button block round large [disabled]="!canSave()" (click)="save()"> Salveaza programare</button>
    </div>
  </div>

</ion-content>
