page-appointment {
  .card-info {
    color: #8f8f8f;
    strong{
      color: #000;
      font-size:1.25em;
    }
  }
  .video{
    color:green;
  }

  ion-item{
    background: none!important;
  }
  .profile-wrap{
    margin: 20px;
    .profile{
      border-radius: 50%;
      overflow: hidden;
    }
    h2{
      margin: 0;
      padding:0;
      font-weight:bold;
      font-size: 1.3em;
    }
  }

  .no-hour{
    color: white;
    background: map_get($colors, 'danger');
  }

  .light-panel{
    transition: 0.3s all ease;

    ion-label{
      transition: 0.3s all ease;

    }
  }
  .light-panel.danger {
    color: white;
    background: map_get($colors, 'danger');

    .list-md .item-block .item-inner{
      border-bottom-color: rgba(255,255,255,0.1);
    }
    .radio-md .radio-icon{
      border-color: rgba(255,255,255,0.5);
    }
    ion-label{
      color: white;
    }
  }
}
