<ion-header>
    <ion-toolbar color="black">
        <ion-title>
            Galerie Imagini
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
   <ion-content>
       <ion-slides  style="background: black">
           <ion-slide *ngFor="let image of doctor.images">
               <ion-img cache="true" src="{{ image.src }}" ></ion-img>
           </ion-slide>
       </ion-slides>
   </ion-content>
