<!--
  Generated template for the Calling page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
  <div *ngIf="phone">

    <div class="video">
      <video id="remoteVideo"></video>
      <video id="localVideo" (click)="phone.changeCamera()"  muted="muted"></video>

      <div class="buttons">


        <div class="wrap">

          <button ion-button icon-only color="hang" (click)="phone.end()" outline large>
            <ion-icon name="call"></ion-icon>
          </button>

          <button ion-button icon-only color="grayer" (click)="phone.toggleMic()" outline large>
            <ion-icon name="mic-off"></ion-icon>
          </button>

          <button ion-button icon-only color="grayer" (click)="phone.toggleVideo()" outline large>
            <ion-icon name="eye-off"></ion-icon>
          </button>


        </div>
      </div>


    </div>

    {{ phone.type }}


  </div>

</ion-content>
