page-calling {
  .video{

    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: black;



    #remoteVideo{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      height: 100%;
      width: 100%;


    }

    #localVideo{
      width: 100px;

      position: absolute;
      top:20px;
      right: 20px;
      border: 1px solid rgba(255,255,255,0.12);
      border-radius: 4px;
      box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    }



  }

  .buttons{


    position: absolute;
    bottom: 40px;
    right:10px;
    left: 10px;

    text-align: center;

    .wrap{
      background: rgba(255,255,255,0.85);
      border-radius:20px;
      box-shadow: rgba(0,0,0,0.5) 0 0 10px;
      display: inline-block;
      padding: 0 20px;

      [outline]{
        border:none;
      }
    }


  }
}
