page-results {

  ion-searchbar[color="primary"]
  {
    background: map_get($colors, "primary")
  }

  ion-label{
    h3{
      span{
        background: rgba(0,0,0,0.05);
        display: block;
        padding: 3px 6px;
        font-size: 0.9em;
        border-radius: 3px;
        margin: 1px;
      }
      .speciality{
        background: rgba(0, 109, 190, 0.11);
        display: inline-block;

      }
    }
  }


  .line-trough{
    text-decoration: line-through;
  }

  ion-icon.star{
    color: #ffbf0c;
    font-size:0.9em;
    margin:1px;
  }
  .buttons{
    background: map_get($colors, "primary");

    .toolbar-background{
      background: rgba(0,0,0,0.051);

    }

    .btn
    {
      ion-icon{
        margin-right: 5px;
      }
      background: rgba(0,0,0,0.1);
      padding: 5px 20px;
      border-radius: 50px;
    }
  }

  .item {
    transition: all 250ms linear;
    opacity: 0.3;
    transform: translate3d(0px, 30px, 0) rotateX(0) scale(1,1);
    background: white;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    .item-inner{
      border:0 !important;
    }
    z-index:100;
  }
  .item {
    margin-top: 10px;
  }


  .item.active {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);

  }


  ion-list{
  }


  .results{
    background: rgba(0,0,0,0.05)!important;
    padding: 10px;

    display: block;
  }



  ion-infinite-scroll {

    height: 170px;
  }


  .finish{

    display: block;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    left:0;
    /* height: 500px; */
    position: absolute;
    width: 100%;
    margin-top: -390px;
  }

}



