<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">


    <ion-title>
      Rezultate doctori
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openPage(pages.search)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>
  <ion-navbar color="primary" class="buttons">


    <ion-buttons>
      <button ion-button icon-only (click)="openPage(pages.search)">
        <ion-icon name="bookmark"></ion-icon>
      </button>

      <button ion-button class="btn" (click)="openPage(pages.search)">
        <ion-icon name="funnel"></ion-icon>
        Ordoneaza
      </button>

      <button ion-button class="btn" [disabled]="!doctors.length" (click)="presentPopover()">
        <ion-icon name="list"></ion-icon>
        Filtreaza
      </button>
    </ion-buttons>


  </ion-navbar>


</ion-header>


<ion-content>
  <div *ngIf="doctors.length && result.search && result.search.value.type==2" class="light-panel">
   <div class="light-panel text-md-green" text-center padding>
     Afisez medicii care va pot primi cu bilet de trimitere tip CNAS
     <span *ngIf="result.search.value.service">pentru serviciul <strong>{{result.search.value.service}}</strong></span>
   </div>
  </div>

  <div class="results">

    <div padding text-center *ngIf="loading">
      <ion-spinner></ion-spinner>
    </div>


    <ion-list>
      <ion-item-group *ngIf="doctors.length  ">



        <button ion-item text-wrap *ngFor="let item of doctors "
                in-viewport
                [inViewportOptions]="{ partial: true }"
                (inViewportAction)="action($event)"
                (click)="openDoctor(item)">
          <ion-avatar item-left>
            <img src="https://consultadoctor.ro/{{ item.profile }}-200.jpg">
          </ion-avatar>
          <h2>{{ item.name }}</h2>


          <h3>
            <rating *ngIf="item.rating" [stars]="item.rating"></rating>


            <span class="speciality" *ngFor="let s of item.specialities">
            {{ s.name }}
        </span>
            <span class="address" *ngFor="let s of item.hospitals">
          <ion-icon color="primary" name="pin"></ion-icon>
          {{ s.hospital.address }}
          </span>
          </h3>
          <p *ngIf="item.free">

            <ion-icon color="danger" name="medkit"></ion-icon>
            {{ item.free.service.name }}:
            <strong>
             <span *ngIf="item.free.service.offer_price">
               <span class="line-trough">{{ item.free.service.price }} Lei</span>
               {{ item.free.service.offer_price }} Lei
             </span>
              <span *ngIf="!item.free.service.offer_price">{{ item.free.service.price }} Lei</span>


            </strong>


          </p>


        </button>
      </ion-item-group>
    </ion-list>

    <ion-infinite-scroll threshold="85%" immediate-check="false" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <div class="finish" *ngIf="reachedEnd" style="background-image: url(assets/img/finish-bg.png);">

    </div>
  </div>

  <div class="light-panel">

    <div padding="" *ngIf="reachedEnd" class="light-panel">
      <div text-center>

        <h4>Stii un medic la care doresti sa te programezi online si nu l-ai gasit in lista?</h4>
        <br/>

        Contacteaza-ne acum si vom face toate demersurile necesare pentru ca medicul sa apara in aceasta aplicatie.

        <br/>

        <a ion-button outline round href="mailto:medic@consultadoctor.ro">Contacteaza-ne acum!</a>


      </div>
    </div>

  </div>


</ion-content>
