<ion-header class="hiding">

  <ion-navbar color="primary">
    <ion-title>{{ doctor.name }}</ion-title>

    <!--<ion-buttons end>-->
      <!--<button ion-button icon-only color="royal">-->
        <!--<ion-icon name="videocam"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>


</ion-header>

<ion-content fullscreen *ngIf="doctor" #content>
  <div class=" blue" style="background-image: url('assets/img/abstract-network-background.png')">
    <div padding>
      <div class="b-row">
        <div class="col-sm-4" text-center>
          <img src="assets/img/logo-icon-30.png" class="logo">
          <ion-img class="profile" src="https://consultadoctor.ro/{{ doctor.profile }}-200.jpg" width="140" height="140"></ion-img>
          <div class="hidden-xs">
            <div padding></div>
          </div>
        </div>
        <div class="col-sm-8" text-center>
          <div padding-top>
            <h3 no-margin>{{ doctor.name }}</h3>

            <ion-chip *ngFor="let s of doctor.specialities" color="primary">
              <ion-icon color="dark" name="medkit"></ion-icon>

              <ion-label> {{ s.name }}</ion-label>
            </ion-chip>
            <br/>

            <div *ngIf="doctor.rating">
              <rating [stars]="doctor.rating"></rating>
            </div>
            <br/>
            <!--<button round color="blue" outline small (click)="openAppointment()" ion-button>urmareste</button>-->
            <!--<button round color="blue" outline small (click)="openAppointment()" ion-button>recomanda</button>-->

          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="segments">
    <ion-segment [(ngModel)]="tabType" mode="md">
      <ion-segment-button value="appointment">
        <ion-icon name="calendar"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="description">
        Descriere
      </ion-segment-button>

      <ion-segment-button value="reviews">
        <ion-icon name="star"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="images">
        <ion-icon name="images"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <div class="pager">


      <div responsive-sm class="light-panel" *ngIf="tabType=='appointment' " text-left="">

        <ion-slides *ngIf="free.length" autoplay="6000" class="slider"
                    slidesPerView="{{ width>600 && width<900?2:(width>=900?3:'auto')}}">
          <ion-slide *ngFor="let f of free" style="width: 90%;">
            <ion-card text-left>
              <ion-card-content *ngIf="f.hospital.hospital.name != 'telemedicine'">
                <strong>{{ f.hospital.hospital.name }}</strong>
                <br/>
                 <ion-icon color="primary" name="pin"></ion-icon>

                {{ f.hospital.hospital.address }}

              </ion-card-content>
              <div padding class="warn-panel" text-center>
                Primul loc disponibil este pe data de
                <strong> {{ f.hours[0] | data | date:'dd MMMM' }} </strong>
                la ora
                <strong> {{ f.hours[0] | data | date:'HH:mm' }} </strong>
                <br/>
                <button round color="light" outline margin-top (click)="openAppointment(f, f.hours[0])" ion-button>
                  Programeaza-te online!
                </button>
              </div>
              <ion-row>
                <ion-col>
                  <button icon-left="" ion-button clear small (click)="openServices(pages.services,f)">
                    <ion-icon name="information-circle"></ion-icon>
                    Lista Servicii
                  </button>
                </ion-col>

                <ion-col>
                  <button *ngIf="f.hospital.hospital.name != 'telemedicine'" icon-left="" color="teal"
                          (click)="navigate(f.hospital.hospital)" ion-button clear small>
                    <ion-icon name="navigate"></ion-icon>
                    Vezi harta
                  </button>
                </ion-col>

              </ion-row>
            </ion-card>

          </ion-slide>

        </ion-slides>


      </div>


      <div *ngIf="tabType=='description'">
        <div padding class="white-panel " *ngIf="doctor.description">
          <h3>Despre</h3>
          <div class="description" [innerHTML]="doctor.description"></div>

          <div padding-top>
            <h3>Limbi vorbite</h3>

            <div *ngFor="let item of doctor.languages">
              {{item.name}}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="tabType=='images'">
        <div text-center padding>
          <h5 no-margin>Galerie imagini</h5>
        </div>
        <div class="images">
          <img class="image" *ngFor="let file of doctor.images" [src]="'https://consultadoctor.ro/'+file.src+'-200.jpg'" height="100"
               width="100"/>

        </div>
      </div>

      <div *ngIf="tabType=='reviews'">
        <div text-center padding>
          <h5 no-margin>Review-uri oferite de alti pacienti</h5>
        </div>
        <div class="ratings">
          <ion-list>

            <ion-item text-wrap *ngFor="let item of doctor.reviews   ">
              <ion-avatar item-left>
                <img src="https://consultadoctor.ro/{{ item.user.profile }}-200.jpg">
              </ion-avatar>

              <h2>{{ item.user.first_name }} {{ item.user.last_name }}</h2>
              <div *ngIf="item.note">
                <rating [stars]="item.note"></rating>
              </div>
              <p [innerHTML]="item.message">

              </p>


            </ion-item>
          </ion-list>
        </div>
      </div>


      <!--<br/>-->
      <!--<br/>-->
      <!--<br/>-->
      <!--<div padding class="white-panel "  >-->

        <!--<div padding-top>-->
          <!--<h3>Medici asemanatori</h3>-->

          <!--test-->
        <!--</div>-->
      <!--</div>-->


    </div>
  </div>


</ion-content>
