page-profile {


  ion-icon.star{
    color: #ffbf0c;
    font-size:1.9em;
    margin:2px;
  }

  ion-navbar{
    ion-buttons [ion-button]
    {
      margin-right:10px;

    }
  }

  .blue{
    padding-top: 160px !important;
    margin-top: -150px;
    background-position: center;
    background-size: cover;
    color:white;
    ion-card-content{
      color: #000;
    }
  }

  .logo{
    position: absolute;
    margin-top: 13px;
    margin-left: -5px;
    z-index: 2;
  }
  .profile{
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    border: 4px solid white;

  }
  .description{
    line-height: 1.24em;
    letter-spacing: 0.1px;
    text-align: justify;
  }



  .segments{
    .pager{
      min-height: 200px;
      .images{
        padding:10px;
        text-align: center;
        .image{
          margin:4px;
        }
      }
      .ratings{
        ion-icon{
          font-size:1em;
        }
      }
    }
  }
}

.warn-panel{
  background: map_get($colors,"danger");
  color: #FFFFFF;
}


