<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="hiding">

  <ion-navbar color="primary">

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


    <ion-title>
      Consulta Doctor
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openPage(pages.search)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen #content>


  <div class="wrap-blue ">

    <div class="searcher blue"
         style="background-image: url('assets/img/doctor.jpg'); background-position: top; background-size: cover; min-height: 200px">

      <div text-center="">
        <img src="assets/img/logo-400.png">
      </div>

      <div class="light-panel" padding>


        <ion-card (click)="openPage(pages.search)" class="search-card">
          <ion-card-content>
            <ion-icon name="search"></ion-icon>
            Cauta doctor, clinica, specialitate
          </ion-card-content>
        </ion-card>
        <!--<ion-card color="danger">-->
          <!--<ion-card-content>-->
            <!--<strong>NOU! Servicii de Telemedicina.</strong> <br/>-->
            <!--Programeaza-te acum pentru o consultatie prin videoconferinta, fara sa te mai deplasezi la cabinet..-->
          <!--</ion-card-content>-->
        <!--</ion-card>-->
      </div>
    </div>
  </div>
  <div class="appointments" *ngIf="appointments.length"  >
    <h3>Programari recente</h3>
    <ion-list  >

        <button text-wrap ion-item *ngFor="let item of appointments" class="item" (click)="openAppointment(item)">
          <ion-avatar item-left>
            <img src="https://consultadoctor.ro/{{ item.doctor_hospital.doctor.profile }}-200.jpg">
          </ion-avatar>
          <h2>{{ item.doctor_hospital.doctor.name }}</h2>
          <h4>
            {{ item.appointment_at | date:'dd MMM HH:mm' }}
          </h4>

          <div>
            <div> Serviciu: <strong>{{ item.service.name }}</strong> </div>
            <div> Pacient: <strong>{{ item.person.first_name }} {{ item.person.last_name }}</strong> </div>
            <div class="text-md-green" >
              Mod prezentare:
              <strong *ngIf="item.details.type==1">Ma prezint la cabinet si platesc integral</strong>
              <strong *ngIf="item.details.type==2">Ma prezint la cabinet cu bilet de trimitere</strong>
              <strong *ngIf="item.details.type==3">Vorbim prin telemedicina</strong>
            </div>

          </div>


        </button>
    </ion-list>
  </div>

  <div class="why-join" style="background-image: url('assets/img/doctor-why-join.png')">
    <br/>
    <br/>
    <div padding>
      <h2>
        Programeaza-te online acum!
      </h2>
      <h4></h4>
      <div class="text">
        <ul>
          <li>Salvezi timp pretios facandu-ti programarea online.</li>
          <li>Programarea se salveaza direct in agenda medicului, fara intermedieri.</li>
          <li>Iti alegi medicul in functie de review-uri oferite de pacienti reali.</li>
        </ul>
        <button color="light" (click)="openPage(pages.search)" ion-button block outline round>Cauta doctor</button>
      </div>
    </div>
    <br/>

    <br/>

  </div>

  <div class="why-join light">

    <div padding>
      <h2>
        Esti un medic de 5 stele?
      </h2>
      <h4>Intra in retea si ai acces la sute de pacienti</h4>
      <div class="text">
        <ul>
          <li>Ai acces la un numar nelimitat de pacienti</li>
          <li>Iti cresti reputatia online prin review-uri oferite de pacienti</li>
          <li>Fii in pas cu moda in "era tehnologiei"</li>
        </ul>
        <button color="danger" ion-button block outline round>Intra in retea</button>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</ion-content>
