page-home {

  .hiding{


    ion-icon{
      color: map_get($colors,'primary');
      transition: 0.4s all ease;

    }
    &.show-border{
      ion-icon{
        color: white;
      }
    }
  }



  .search-card{
    ion-card-content{
      ion-icon{
        position: absolute;
        color: #424242;
        margin-left: -30px;
        margin-top: -2px;
        font-size: 1.3em;

      }
      padding:10px 4px 10px 48px;
      color: #aeaeae;
      font-size: 1.05em;
    }
  }

  .slider{
    ion-slide{
      background-size: cover;
       background-position: center;
      background-repeat:no-repeat;
    }
  }

  .searcher{
    padding: 30px 0 0px 0;
    border-radius: 0em 0em 0em 0em;

   // animation-name: bording;
   // animation-duration: 1.6s;

   // animation-direction: alternate;
  //  animation-iteration-count: infinite;


  }

  .wrap-blue{
    background-color: #2874ff;

  }

  .why-join{
    background-color: #2874ff;
    background-size: cover;
    padding:10px;
    color: rgba(255, 255, 255, 0.78);
    ul{
      margin:0;
      padding: 20px 0 ;
    }
    li{
      padding-bottom: 14px;
      list-style: none;
      margin:0;
      color: white;
      padding-left: 20px;
    }
    h2{
      color: rgba(255, 255, 255, 0.88);

    }
    border-radius: 0em 0em  8em 0em;

    &.light{
      background-color: white;
      color: #ff5028;
      h2{
        color: #ff5028;

      }
      li{

        color: #ff5028;
      }
    }
  }
  .left-triangle {
    width: 100%;
    height: 0;
    border-right: 200px solid #2874ff;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
  }


  .item {
    background: white;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    .item-inner{
      border:0 !important;
    }
    z-index:100;
    margin-top: 10px;

  }

  .appointments{
    padding: 10px;
    background: rgba(0,0,0,0.05)!important;

    h3{
      margin:0;
      color:rgba(0,0,0,0.4);
      font-size:1.2em;
    }
  }


  ion-content{

  }



}
