page-results-filter {

  background: rgba(0,0,0,0.3);
  .wrap{
    height: 100%;
    ion-card{

      border-radius: 4px;
      height: calc(100% - 20px);

      padding-bottom: 5px;
      .header{
        height: 45px;
        padding: 5px;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
        position: relative;

        [ion-button]{
          position: absolute;
          right:7px;
          top:6px;
        }
        h3{
          font-size: 1.3em;
          color: #7c7c7c;
          padding:12px;
        }

    }

      .scroll{
        height: calc(100% - 50px);
        overflow: auto;
        ion-item{
          button{
            position: relative;
            box-shadow: none;
            padding-right: 40px;
            ion-icon{
              position: absolute;
              right: 9px;
              top: 7px;
            }
          }
        }
      }
    }
  }
  ion-label{
    overflow: initial;
  }
}
