<ion-header>
  <ion-navbar color="primary">


    <ion-title>
      <ion-icon name="list"></ion-icon>
      Filtre
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="reset()">
        Reset
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content>


  <div *ngIf="search && variables">



      <ion-list>
        <button ion-item  text-wrap (click)="openPage('Selecteaza specialitate', 'specialities')">
          <p>
            Specialitate
          </p>
          <h2>
            <strong *ngIf="search.speciality"  >
              {{ specialityName(search.speciality) }}
            </strong>
            <strong *ngIf="!search.speciality"  >
              Toate specialitatile
            </strong>
          </h2>


        </button>

        <button ion-item  text-wrap (click)="openPage('Selecteaza judet', 'counties')">
          <p>
            Judet
          </p>
          <h2>
          <strong *ngIf="search.county"  >
              {{ countyName(search.county) }}
            </strong>
            <strong *ngIf="!search.county"  >
              Toata tara
            </strong>
          </h2>

        </button>

        <button ion-item  text-wrap (click)="selectType()" >
          <p>Mod Prezentare</p>
          <h2>
            <strong *ngIf="search.type==1">La cabinet cu plata</strong>
            <strong *ngIf="search.type==2">La cabinet cu bilet CNAS</strong>
            <strong *ngIf="search.type==3">Prin videoconferinta - Telemedicina</strong>
          </h2>
        </button>

        <button ion-item  text-wrap (click)="selectService()" >
          <p>Serviciu</p>
          <h2>
            <strong *ngIf="search.service">{{ search.service }}</strong>
          </h2>
        </button>


        <button ion-item  text-wrap (click)="selectRating()" >
          <p>Rating</p>
          <h2>
            <strong *ngIf="search.rating > 1">{{ search.rating }} stele</strong>
            <strong *ngIf="search.rating == 1">O stea</strong>
          </h2>
        </button>



      </ion-list>


  </div>

</ion-content>
<ion-footer >
  <button no-margin large ion-button full (click)="save()">
    <div *ngIf="loading">
      <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="!loading">
    Vezi rezulate<span *ngIf="result">:
    {{ result.results.total }} medici</span>
    </div>

  </button>
</ion-footer>
