page-appointments {
  .has-refresher > .scroll-content
  {
    border:none;
  }
  ion-toolbar.toolbar-md{
    padding:0;
    min-height: 0;
  }


  .item {
    background: white;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    .item-inner{
      border:0 !important;
    }
    z-index:100;
    margin-top: 10px;

  }


  .appointments{
    padding: 10px;
    background: rgba(0,0,0,0.05)!important;


  }


}
