<ion-header>

  <ion-navbar color="light_blue">
    <ion-title>Programari</ion-title>
  </ion-navbar>

  <ion-toolbar color="light_blue">
    <ion-segment [(ngModel)]="tabs" color="light">
      <ion-segment-button value="future" (ionSelect)="load({future:true})">
        Curente
      </ion-segment-button>
      <ion-segment-button value="past" (ionSelect)="load({past:true})">
        Istoric
      </ion-segment-button>
      <ion-segment-button value="canceled" (ionSelect)="load({canceled:true})">
        Anulate
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>
<!--<ion-tabs color="primary"  >-->
<!--<ion-tab tabTitle="Curente" tabIcon="clock" [root]="appointments.future"></ion-tab>-->
<!--<ion-tab tabTitle="Istoric" tabIcon="filing" [root]="appointments.past"></ion-tab>-->
<!--<ion-tab tabTitle="Anulate"  tabIcon="trash" [root]="appointments.canceled"></ion-tab>-->
<!--</ion-tabs>-->

<ion-content fullscreen>
  <ion-refresher (ionRefresh)="ionViewDidLoad($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div padding text-center *ngIf="!appointments.length">
    <br/>
    <h4> Nu aveti programari.</h4>
    <button ion-button outline round (click)="appoint()"> Programeaza-te acum !</button>
  </div>

  <div *ngIf="loading" padding text-center>
    <ion-spinner></ion-spinner>
  </div>
  <ion-list *ngIf="!loading" class="appointments">
    <button text-wrap ion-item *ngFor="let item of appointments" (click)="select(item)">
      <ion-avatar item-left>
        <img src="https://consultadoctor.ro/{{ item.doctor_hospital.doctor.profile }}-200.jpg">
      </ion-avatar>
      <h2>{{ item.doctor_hospital.doctor.name }}</h2>
      <h3>
        {{ item.appointment_at | date:'dd MMM HH:mm' }}
      </h3>
      <div>
        <div> Serviciu: <strong>{{ item.service.name }}</strong> </div>
        <div> Pacient: <strong>{{ item.person.first_name }} {{ item.person.last_name }}</strong> </div>
        <div class="text-md-green" >
          Mod prezentare:
          <strong *ngIf="item.details.type==1">Ma prezint la cabinet si platesc integral</strong>
          <strong *ngIf="item.details.type==2">Ma prezint la cabinet cu bilet de trimitere</strong>
          <strong *ngIf="item.details.type==3">Vorbim prin telemedicina</strong>
        </div>

      </div>

    </button>
  </ion-list>
</ion-content>

