<!--
  Generated template for the ProfileServices page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ doctor.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content fullscreen>
  <div class="light-panel" padding>
    <h3>Lista servicii din sediul <strong>{{ hospital.name }}</strong></h3>

    Apasa pe serviciu pentru a vedea mai multe informatii.

  </div>
  <ion-list>
    <button ion-item text-wrap *ngFor="let service of services" (click)="open(service)">
      <h2>
        <ion-icon class="info" name="information-circle"></ion-icon>

        {{ service.name }}
      </h2>
      <div>
        <img src="/assets/img/logo.png" height="15" *ngIf="service.insurance_house_id">
        <ion-icon name="videocam" *ngIf="service.accept_video"></ion-icon>
      </div>
      <div item-right="" *ngIf="!service.clicked">
        <span *ngIf="!service.offer_price">{{ service.price }} Lei</span>
        <span *ngIf="service.offer_price">
          <span class="line-through text-danger">{{ service.price }} Lei</span>
          {{ service.offer_price }} Lei
        </span>
      </div>
    </button>
  </ion-list>


</ion-content>
