<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-buttons right>
            <button ion-button (click)="dismiss($event)">
                Inchide
            </button>
        </ion-buttons>

        <ion-title>
            Setari
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
