// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #2874ff,
  secondary: #32db64,
  green: #1c7a38,
  danger: #ff5028,
  light: #f4f4f4,
  teal:rgb(64, 149, 143),
  blue:rgb(144, 202, 249),
  pink: rgb(244, 143, 177),
  red:rgb(239, 154, 154),
  hang:rgb(239, 26, 18),
  cyan: #00BCD4,
  light_blue:#03A9F4,
  indigo:#3F51B5,
  deep_purple:#673AB7,
  purple:rgb(206, 147, 216),
  transparent:rgba(144, 202, 249, 0.2),
  dark: #222,
  black: #000,
  gray: #d9d9d9,
  grayer: #9b9b9b
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";


