<!--
  Generated template for the ProfileServices page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="primary">
    <ion-title>{{ doctor.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content fullscreen >
  <div class="cnas">
    <ion-icon name="account_balance"></ion-icon>
      Vino la cabinet cu un <strong>bilet de trimitere tip CNAS</strong> si cu <strong>cardul de sanatate</strong> si vei
    <span *ngIf="service.copayment">si vei mai achita @{{ service.copayment }} lei</span>
    <span *ngIf="!service.copayment">si vei beneficia de <strong>gratuitate</strong> </span>
    pentru acest serviciu

  </div>
  <div   padding>
    <h2>{{ service.name }}</h2>

    <div>
      Pret:
      <strong>
        <span *ngIf="!service.offer_price">{{ service.price }} Lei</span>
        <span *ngIf="service.offer_price">
          <span class="line-through text-danger">{{ service.price }} Lei</span>
          {{ service.offer_price }} Lei
        </span>
      </strong>
    </div>


    <div [innerHtml]="service.description"></div>

    <button color="primary" (click)="openAppointment()" ion-button block outline round>Programeaza-te acum!</button>


  </div>

</ion-content>
