<ion-menu [content]="content">

    <ion-content class="bg-blue">
        <div style="background-image:url('assets/img/blur.jpg'); background-size: cover" padding="">

            <div *ngIf="user" text-center>
                <div padding>
                    <img [src]="'https://consultadoctor.ro/'+user.profile" width="90" class="profile">
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                </div>
            </div>

            <div *ngIf="!user">
                <img src="assets/img/logo-icon-50.png">

            </div>


        </div>

        <ion-list no-lines  no-margin  *ngIf="!user" >
            <button ion-item (click)="login()">
              Intra in cont
            </button>
            <button  ion-item (click)="signup()">
                Creeaza cont
            </button>
        </ion-list>

        <ion-list no-lines no-margin *ngIf="user" >
            <button  ion-item (click)="login()">
                <ion-icon item-left name="person"></ion-icon> Contul meu
            </button>
            <button   ion-item (click)="openPage(pages.appointments)">
                <ion-icon item-left name="calendar"></ion-icon>  Programari
            </button>
            <button  ion-item (click)="logout()">
                <ion-icon item-left name="unlock"></ion-icon> Iesi din cont
            </button>
        </ion-list>
        <br/>
        <ion-list no-lines   >

            <button color="primary" ion-item (click)="openPage(pages.settings)">
               Setari
            </button>
            <button color="primary" ion-item (click)="openPage(pages.terms)">
                Termeni si conditii
            </button>
            <button color="primary" ion-item (click)="login()">
                Vreau sa apar in aplicatie
            </button>
            <button color="primary" ion-item (click)="openPage(pages.about_us)">
                Despre noi
            </button>
        </ion-list>


    </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"  ></ion-nav>
