
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Selecteaza locatia
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="viewCtrl.dismiss()">
        <span showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="light-panel">
  <div   style="padding:1px">
    <table class="profile-wrap">
      <tr>
        <td>
          <ion-img class="profile" src="https://consultadoctor.ro/{{ doctor.profile }}-200.jpg" width="50"
                   height="50"></ion-img>

        </td>
        <td padding-left>
          <h2>
            {{ doctor.name }}
          </h2>
          <span *ngFor="let s of doctor.specialities">
                      {{ s.name }}
                    </span>
        </td>
      </tr>
    </table>
    <ion-slides #hours pager class="slider" slidesPerView="auto">
      <ion-slide *ngFor="let f of free" style="width: 90%;">
        <ion-card text-left>
          <ion-card-content>
            <strong>{{ f.hospital.hospital.name }}</strong>
            <br/>
            {{ f.hospital.hospital.address }}
          </ion-card-content>
          <div padding class="warn-panel" text-center>
            Primul loc disponibil este pe data de
            <strong> {{ f.hours[0] | data | date:'dd MMMM'  }} </strong>
            la ora
            <strong> {{ f.hours[0] | data | date:'HH:mm'  }} </strong>
            <br/>
            <button round color="light" outline margin-top   (click)="select(f)" ion-button>Selecteaza!</button>

          </div>

        </ion-card>
        <p padding-top></p>

      </ion-slide>

    </ion-slides>

  </div>

</ion-content>
