page-appointment-hospital {
  .light-panel {
    background: #e5e5e5 !important;
  }
  .profile-wrap {
    margin: 20px;
    .profile {
      border-radius: 50%;
      overflow: hidden;
    }
    h2 {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 1.3em;
    }
  }
}
