<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Selecteaza persoana
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="viewCtrl.dismiss()">
                <span showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <div class="light-panel" style="padding:1px">
        <div padding>


            <ion-card-content>
                Selecteaza o persoana din lista sau adauga acum una
            </ion-card-content>
            <button ion-button outline round block> Adauga o persoana</button>

        </div>
    </div>
    <ion-list>
        <button ion-item text-wrap *ngFor="let patient of patients"
                (click)="select(patient)">

            <ion-icon name="contact" item-left></ion-icon>
            <h2>{{ patient.first_name }} {{ patient.last_name }}</h2>
            <p>
                {{ patient.phone }}
            </p>
        </button>
    </ion-list>

</ion-content>
