<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cautare rapida</ion-title>
  </ion-navbar>

  <ion-searchbar
    #searchBox
    type="search"
    color="primary"

    [debounce]="10"
    placeholder="Scrie aici ce doresti sa cauti"
    [(ngModel)]="query" (search)="onInput()"
    (ionFocus)="focus=true"

    [showCancelButton]="false">
  </ion-searchbar>
</ion-header>


<ion-content>
  <div *ngIf="focus">

    <div class="light-panel">
      <div text-center padding>
        <h5>
          Poti cauta un medic, o specialitate, un serviciu medical sau chiar o clinica / cabinet medical.
        </h5>

        <button ion-button outline round small [disabled]="query==''" (click)="onInput()">Vezi rezultate</button>

      </div>

    </div>

  </div>

  <div *ngIf="!focus">

    <div class="light-panel">
      <div text-center padding>
        Acestea sunt rezultatele pentru <strong>{{ query }}</strong>
      </div>

    </div>
    <ion-spinner class="spinner-loading" *ngIf="loading"></ion-spinner>
    <ion-list *ngIf="result">
      <ion-item-group *ngIf="result.doctors.length">
        <ion-item-divider color="light">
          Doctori
          <button item-right="" (click)="openAdvanced({})">
            Mai multi
          </button>

        </ion-item-divider>

        <button ion-item *ngFor="let item of result.doctors  | slice:0:5" (click)="openDoctor(item)">
          <ion-avatar item-left>
            <img src="https://consultadoctor.ro/{{ item.profile }}-200.jpg">
          </ion-avatar>
          <h2>{{ item.name }}</h2>
          <h3>
          <span *ngFor="let s of item.specialities">
            {{ s.name }}
          </span>

          </h3>


          <div item-right="">

            <rating *ngIf="item.rating" [stars]="item.rating"></rating>
          </div>
        </button>
      </ion-item-group>

      <ion-item-group *ngIf="result.services.length">
        <ion-item-divider color="light">
          Servicii
        </ion-item-divider>
        <button ion-item *ngFor="let item of result.services   " (click)="openAdvanced({service:item.name})">
          <h2>{{ item.name }}</h2>
        </button>
      </ion-item-group>
      <ion-item-group *ngIf="result.specialities.length">
        <ion-item-divider color="light">
          Specialitati
        </ion-item-divider>
        <button ion-item *ngFor="let item of result.specialities  "
                (click)="openAdvanced({speciality:item.id})">
          <h2>{{ item.name }}</h2>
        </button>
      </ion-item-group>


      <ion-item-group *ngIf="result.hospitals.length">
        <ion-item-divider color="light">
          Spitale / Clinici / Cabinete
        </ion-item-divider>
        <button ion-item *ngFor="let item of result.hospitals  " (click)="openAdvanced({hospital:item.id})">
          <h2>{{ item.name }}</h2>
          <h3> {{ item.address }}</h3>
        </button>
      </ion-item-group>


    </ion-list>
    <div class="light-panel">

      <div class="light-panel" padding text-center>
        <h5>Nu ai gasit ceea ce cautai?</h5>
        <button ion-button outline round small (click)="openAdvanced({})">Incearca cautarea avansata</button>
      </div>
    </div>


  </div>
</ion-content>
