<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Selecteaza serviciul
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="viewCtrl.dismiss()">
        <span showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="light-panel">
  <table class="profile-wrap">
    <tr>
      <td>
        <ion-img class="profile" src="https://consultadoctor.ro/{{ doctor.profile }}-200.jpg" width="50" height="50"></ion-img>

      </td>
      <td padding-left>
        <h2>
          {{ doctor.name }}
        </h2>
        <span *ngFor="let s of doctor.specialities">{{ s.name }}</span>
      </td>
    </tr>
  </table>
  <ion-list>
    <ion-item-group *ngFor="let hospital of hospitals">
      <ion-item-divider color="light">
        {{ hospital.hospital.name }}
      </ion-item-divider>
      <button ion-item text-wrap *ngFor="let service of hospital.services" (click)="select(service)">
        <h2>{{ service.name }}</h2>
        <p>
          <img src="assets/img/logo.png" height="15" *ngIf="service.insurance_house_id">
          <ion-icon name="videocam" *ngIf="service.accept_video"></ion-icon>
          {{ service.price }} Lei

        </p>

      </button>
    </ion-item-group>


  </ion-list>

</ion-content>
