<!--
  Generated template for the AppointmentsDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hiding">

  <ion-navbar color="deep_purple">
    <ion-title>Detalii programare</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen #content *ngIf="appointment.doctor_hospital">

  <div class=" blue" style="background-image: url('assets/img/abstract-network-background-purple.jpg')">
    <div text-center padding>
      <ion-img class="profile"
               [src]="'https://consultadoctor.ro/'+appointment.doctor_hospital.doctor.profile+'-200.jpg'" width="120"
               height="120"></ion-img>
      <h3>
        {{ appointment.doctor_hospital.doctor.name }}
      </h3>
      <button margin-top round color="purple" outline small (click)="viewDoctor()" ion-button>Vezi doctor</button>
    </div>
  </div>
  <div class="light-panel" *ngIf="appointment.details.type==3 && !appointment.deleted_at">
    <div *ngIf="appointment.seconds_to_pay > 0 && appointment.details.status != 'confirmed'">
      <div class="light-panel danger">
        <div padding text-center>
          Ai la dispozitie
          <h2 no-margin style="padding:3px;">{{ seconds_to_pay | date:'mm:ss' }}</h2>
          pentru a achita serviciul,
          <strong>altfel programarea va fi anulata</strong>.
        </div>
        <ion-grid text-left class="light-panel">
          <ion-row>
            <ion-col width-33>Denumire</ion-col>
            <ion-col><strong>{{ appointment.service.name }}</strong></ion-col>
          </ion-row>

          <ion-row>
            <ion-col width-33>Pret</ion-col>
            <ion-col><strong> <span *ngIf="!appointment.service.offer_price">{{ appointment.service.price }} Lei</span>
              <span *ngIf="appointment.service.offer_price">
          <span class="line-through text-danger">{{ appointment.service.price }} Lei</span>
          {{ appointment.service.offer_price }} Lei
        </span></strong></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>


              <button ion-button outline round color="light" icon-left block (click)="pay()">
                <ion-icon name="card" icon-left=""></ion-icon>
                Achita acum
              </button>

            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </div>
    <div *ngIf="appointment.details.status == 'confirmed'">

      <div padding class="light-panel green">
        Acest serviciu a fost achitat online. Numarul tranzactiei este <strong>{{ appointment.details.response.orderId
        }}</strong>
      </div>

      <div padding>
        Ai ales sa te programezi la acest medic pentru un serviciu prin <strong>Telemedicina</strong>.
        Vei avea o conversatie cu <strong class="ng-binding">{{ appointment.doctor_hospital.doctor.name }}</strong> de
        <strong class="ng-binding">~ {{ appointment.service.duration }} minute</strong>. <br>
      </div>

    </div>

    <div *ngIf="appointment.seconds_to_pay <= 0 && appointment.details.status != 'confirmed'">
      <div class="light-panel danger">
        <div padding text-center>
          A expirat timpul in care puteai achita serviciul.<br/>
          Aceasta programare va fi anulata in curand.
        </div>

      </div>
    </div>
  </div>




  <div *ngIf="appointment.deleted_at" class="light-panel danger" padding text-center>
    Aceasta programare a fost anulata!
  </div>

  <div *ngIf="!appointment.deleted_at && appointment.confirmed_at" class="light-panel success" padding text-center>
    Aceasta programare a fost confirmata!
    <br/>
    Te poti prezenta fara probleme.
  </div>

  <div *ngIf="!appointment.deleted_at && !appointment.confirmed_at" class="light-panel warn" padding text-center>
    Aceasta programare nu a fost inca confirmata. Urmeaza sa primesti un email in momentul in care va fi confirmata.
    De obicei dureaza ~{{ appointment.details.duration || '2' }} minute
  </div>




  <div class="light-panel" padding>
    <h3>Detalii</h3>
    <div>
      Serviciu: <strong>{{ appointment.service.name }}</strong>
    </div>
    <div>
      Pret:
      <strong *ngIf="appointment.details.type==1 || appointment.details.type==3">
        <span *ngIf="!appointment.service.offer_price">{{ appointment.service.price }} Lei</span>
        <span *ngIf="appointment.service.offer_price">
            <span class="line-through text-danger">{{ appointment.service.price }} Lei</span>
            {{ appointment.service.offer_price }} Lei
          </span>
      </strong>
      <strong *ngIf="appointment.details.type==2">
        <span *ngIf="appointment.service.copayment">{{ appointment.service.copayment }} Lei</span>
        <span *ngIf="!appointment.service.copayment">Decontat de CNAS</span>
      </strong>
    </div>
    <div>
      Data si ora: <strong>{{ appointment.appointment_at | date:'dd MMMM HH:mm' }}</strong>
    </div>

    <div>
      Mod prezentare:
      <strong *ngIf="appointment.details.type==1">Ma prezint la cabinet si platesc integral</strong>
      <strong *ngIf="appointment.details.type==2">Ma prezint la cabinet cu bilet de trimitere</strong>
      <strong *ngIf="appointment.details.type==3">Vorbim prin telemedicina</strong>
    </div>

    <div>
      Adresa: <strong>{{ appointment.doctor_hospital.hospital.address }}</strong>
    </div>
  </div>

  <div padding text-center *ngIf="appointment.can_cancel">
    <button ion-button outline color="danger" round (click)="cancel()">Anuleaza programare</button>
  </div>
</ion-content>
