page-appointments-details {

  .profile{
    border-radius: 100px;
    overflow: hidden;
    border:4px solid white;
    box-shadow:rgba(0,0,0,0.3) 0 0 7px;
  }

  .danger{
    background: map_get($colors, 'danger');
    color:white;
  }
  .success{
    background: #1c7a38;
    color:white;
  }
  .warn{
    background: #ffd5a0;
    color: #ff5d1f;
  }

  .green{
    color:#1c7a38
  }
}
