

<img src="../../assets/img/logo-icon-50.png">
<ion-tabs color="light" >
    <ion-tab tabIcon="rose" tabTitle="Start"  [root]="home" ></ion-tab>
    <ion-tab tabIcon="search" tabTitle="Cauta Medici"  [root]="search" ></ion-tab>
    <ion-tab tabIcon="notifications" tabTitle="Programari"  [root]="search" ></ion-tab>
    <ion-tab tabIcon="person" tabTitle="Contul meu"  [root]="search" ></ion-tab>
</ion-tabs>