

  <ion-slides  >

    <ion-slide style="background-color: green; height:100%">
      <ion-content>
        <div class="wrap">

          <div padding class="text-center">
            <img src="assets/img/logo-400.png">
          </div>


          <ion-list class="facebook">
            <button text-center ion-item (click)="facebook()">
              <ion-icon item-left name="logo-facebook"></ion-icon>

              <h2>Creeaza cont folosind Facebook</h2>
            </button>
          </ion-list>


          <div text-center padding-bottom>
            SAU
          </div>


          <ion-list no-lines="">

            <ion-item>
              <ion-label>Nume</ion-label>
              <ion-input type="text" [(ngModel)]="login.first_name"></ion-input>

            </ion-item>

            <ion-item>
              <ion-label>Prenume</ion-label>
              <ion-input type="text" [(ngModel)]="login.last_name"></ion-input>

            </ion-item>

            <ion-item>
              <ion-label>Telefon</ion-label>
              <ion-input type="text" [(ngModel)]="login.phone"></ion-input>

            </ion-item>

            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="text" [(ngModel)]="login.email"></ion-input>

            </ion-item>

            <ion-item>
              <ion-label>Parola</ion-label>
              <ion-input type="password" [(ngModel)]="login.password"></ion-input>
            </ion-item>

          </ion-list>






          <div >


            <div *ngIf="login.loading" padding text-center>
              <ion-spinner></ion-spinner>
            </div>

            <div  *ngIf="!login.loading">
              <div class="card-md-danger " no-margin *ngIf="login.errors.email">
                <ion-card-content>
                  <div *ngFor="let err of login.errors.email">
                    {{ err }}
                  </div>
                </ion-card-content>
              </div>

              <div   text-center>

                <div>
                  <button block   ion-button="" (click)="submit()">Creeaza cont</button>
                  <br/>
                  <button block   ion-button="" (click)="dismiss()" outline>renunta</button>

                </div>
                <br/>
                <br/>

                <div padding>
                  <a>Ai deja un cont?</a>
                </div>

              </div>
            </div>

          </div>
        </div>

      </ion-content>

    </ion-slide>

    <ion-slide style="background-color: blue">
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide style="background-color: red">
      <h2>Slide 3</h2>
    </ion-slide>

  </ion-slides>



