page-specialities {
  ion-searchbar[color="primary"]
  {
    background: map_get($colors, "primary")
  }

  background: rgba(0,0,0,0.3);
  .wrap{
    height: 100%;
    ion-card{

      border-radius: 4px;
      height: calc(100% - 20px);

      padding-bottom: 5px;
      .header{
        background: #0087ee;
        color:white;
        height: 115px;
        padding: 5px;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
        position: relative;

        ion-icon{
          margin-right: 15px;
        }
        h3{
          font-size: 1.3em;
          color:white;

          padding:12px;
        }

      }

      .scroll{
        height: calc(100% - 125px);
        overflow: auto;
        ion-item{
          button{
            position: relative;
            box-shadow: none;
            padding-right: 40px;
            ion-icon{
              position: absolute;
              right: 9px;
              top: 7px;
            }
          }
        }
      }
    }
  }
  ion-label{
    overflow: initial;
  }
}
