
<ion-header>
  <ion-navbar color="primary">


    <ion-title>
      Filtre
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="back()">
        Inchide
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-searchbar
    #searchBox

    color="primary"
    [debounce]="150"
    placeholder="Cauta aici..."
    [(ngModel)]="query" (ionInput)="onInput($event)"
    [showCancelButton]="false">
  </ion-searchbar>
</ion-header>



<ion-content  >



    <div  *ngIf="result">


      <ion-item-group *ngIf="result">

        <button ion-item  (click)="select({id:0})">
         Toate
        </button>
        <button ion-item *ngFor="let item of result  " (click)="select(item)">
           {{ item.name }}
        </button>
      </ion-item-group>

    </div>

</ion-content>
