page-appointment-schedule {

  .profile-wrap{
    margin: 20px;
    .profile{
      border-radius: 50%;
      overflow: hidden;
    }
    h2{
      margin: 0;
      padding:0;
      font-weight:bold;
      font-size: 1.3em;
    }
  }

  .appointment-table{
    .header{
      font-size:0.81em;
      padding:8px;
    }
    padding: 0;
    ion-col{
      padding:0;
      text-align:center;
    }
  }


}
