<!--
  Generated template for the Appointment page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-toolbar  color="primary" >
    <ion-title>
      Selecteaza ora
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span   showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content  >


  <ion-grid class="light-panel">
    <ion-row>
      <ion-col>
        <button ion-button outline round color="danger" (click)="back()"> <ion-icon name="arrow-back"></ion-icon> Inapoi</button>

      </ion-col>
      <ion-col text-center="">
        <ion-spinner *ngIf="loading"></ion-spinner>
      </ion-col>
      <ion-col text-right>
        <button ion-button outline round color="danger" [disabled]="loading" (click)="forward()">Inainte <ion-icon name="arrow-forward"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="schedule">
    <ion-slides slidesPerView="auto" #mySlider  (ionSlideDidChange)="onSlideChanged()">

      <ion-slide  *ngFor="let d of dates" >
        <ion-grid class="appointment-table">
          <ion-row>
            <ion-col width-33  *ngFor="let day of d ">
              <div class="light-panel header" padding="">
                <strong>{{ day.date  | date:'EEEE'  }}</strong><br/>
                {{ day.date  | date:'dd MMM'  }}
              </div>
              <div padding="">
                <div *ngFor="let hour of day.hours  ">
                  <button ion-button outline round (click)="select(hour)" >
                    {{ hour.hour }}
                  </button>
                </div>
                <div *ngIf="!day.hours.length">
                  <button ion-button outline round   disabled>
                    -
                  </button>
                </div>
              </div>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>


    </ion-slides>


  </div>

</ion-content>
